
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

nav {
  height: 80px;
  display: flex;
}

img {
  width: 100%;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  padding: 0 24px;
}

.purple {
  color:rgb(255, 233, 34)
}

.logo {
  width: 160px;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 24px;
  color: rgb(255, 233, 34);
  font-weight: bold;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;

}
.nav__link--primary {
  border: 2px solid rgb(249, 255, 249);
  border-radius: 4px;
}

.nav__link--primary:hover {
  text-decoration: none;
}

#landing {
  background-color:rgb(205, 249, 237)
}

header {
  height: calc(100vh - 80px);
}

.header__container {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;

}

nav {
  height: 80px;
  display: flex;
}

h1 {
  font-size: 56px;
  color:rgb(66, 194, 164);
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(2px);
}

.btn {
  background-color: rgb(41, 191, 153);
  color: rgb(228, 253, 243);
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 4px;
  border: none;
}

.header__img--wrapper {
  padding: 20px;
}

